<h1>{{title}}</h1>
<p>Welcome {{user.email}}</p>

<a href="/register">Register</a>
|
<a href="/login">Login</a>
|
<a href="/logout">Logout</a>

<form action="/companySearch" method="get">
  <input type="text" name="companyName" value="Company Name">
  <input type="submit" value="Search">
</form>
